<div class="container">
  <div class="header">
    <h1>CUSTOMER NAME</h1>
  </div>
  <div class="content">
    <div class="panel_row">
      <div class="small_panel">
        <div class="panel_title">
          <h2>DETAILS</h2>
        </div>
        <div class="panel_content">
          <div class="form_display">
            <label>Name</label>
            <span>Jamie Suarez</span>
            <label>Address</label>
            <span>10 Essex Way</span>
            <span>Colchester</span>
            <span>C03 8SN</span>
            <label>Phone</label>
            <span>07556 555655</span>
          </div>
        </div>
      </div>

      <div class="small_panel">
        <div class="panel_title">
          <h2>SHOOTS</h2>
        </div>
        <div class="panel_content">
          <div class="form_display">
            <label>Newborn</label>
            <span>07th March 2018</span>
            <label>Wedding</label>
            <span>24th December 2018</span>
            <label>Family</label>
            <span>Upcoming - 25th December 2019</span>
          </div>
        </div>
      </div>

      <div class="small_panel">
        <div class="panel_title">
          <h2>DATES</h2>
        </div>
        <div class="panel_content">
          <div class="form_display">
            <label>25th November 1991</label>
            <span>Jamie's birthday</span>
          </div>
        </div>
      </div>
    </div>

    <div class="large_panel">
      <div class="panel_title">
        <h2>NOTES</h2>
      </div>
      <div class="panel_content">
        <div class="form_display">
          <label>Jasmine (24th November 2018)</label>
          <span>Jamie wanted an album but couldn't afford it at the time</span>
        </div>
      </div>
    </div>
  </div>

</div>